/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #F7F6F0;
}
.header {
  background: #477258;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.header .logo img {
  width: 140px;
  padding: 5px 10px;
}

.menu_text ul{
  display: flex;
  background: #477258;
}
.menu_text li{
  margin: 10px 0;
}
.menu_text li a{
  text-decoration: none;
  padding: 10px 20px;
  color: #F7F6F0;
}
.menu_text li a:hover{
  color: #477258;
  background: #F7F6F0;
  transition: all .5s 0s ease;
}
.banner img {
  width: 100%;
}
h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px 0 60px;
  margin: auto;
  color: #477258;
  letter-spacing:3px;
}
.at {
  max-width: 1000px;
  margin: auto;
  display: flex;
}
.about {
  padding: 20px 0 60px;
}

.about .item {
  width: 330px;
  text-align: center;
  margin: 0 10px;
}
.about .item img {
  border-radius: 50%;
  padding: 20px 0;
}
.about h3 {
  font-size: 18px;
  color: #477258;
  padding: 5px 0;
  font-weight: bold;
}
.about p {
  color: #477258;
  line-height: 20px;
}
.time {
  background: #477258;
  padding: 20px 0 60px;
}
.time h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px 0 60px;
  margin: auto;
  color: #F7F6F0;
  letter-spacing:3px;
}
/*門診時間表格*/
.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F7F6F0;
  font-size: 18px;
}
.tab-item {
  width: 640px; 
}
.tab-item th {
  border: 2px solid #F7F6F0;
  padding: 20px 20px;
  text-align: left;
}
.tab-item td {
  border: 2px solid #F7F6F0;
  padding: 20px 20px;
}
.tabpic {
  display: none;
}
.time h3 {
  padding: 20px 0;
  font-size: 18px;
  color: #F7F6F0;
}

/*院內環境照片輪播*/

.products {
  padding: 20px 0px 60px;
  text-align: center;
}
.info {
  background: #477258;
  padding: 20px 0 40px;
}
.info h2 {
  font-size: 30px;
  text-align: center;
  padding: 20px 0 60px;
  margin: auto;
  color: #F7F6F0;
  letter-spacing:3px;
}

.gat {
  max-width: 960px;
  margin: auto;
}
.gmap  {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom:50%;
}
.gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.info .text {
  display: flex;
  max-width: 960px;
  padding: 10px 20px;
  justify-content: space-between;
}
.info .text li {
  color: #F7F6F0;
  font-size: 16px;
  line-height: 22px;
}
.info .icon img {
  border-radius: 20%;
  width: 30px;
}
.footer {
  background: #F7F6F0;
  color: #6C9A7E;
  text-align: center;
  padding: 5px 0;
}


@media (max-width:768px) {
  .header {
    display: block;
  }
  .logo {
    text-align: center;
    padding: 10px 0 0;
  }
  .menu_text ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0;
    text-align: center;
  }
  .menu_text li {
    width: 48%;
    border: 1px solid #F7F6F0;
  }
  .menu_text li a {
    display: block;
    text-decoration: none;
    color: #F7F6F0;
    text-align: center;
  }
  .menu_text li a:hover {
    color: #477258;
    background: #F7F6F0;
    transition: all .5s 0s ease;
  }

  .about .item {
    width: 100%;
    margin: auto;
  }
  h2 {
    font-size: 30px;
    padding: 20px 0px;
    color: #477258;
    letter-spacing:3px;
    width: 100%;
  }
  .at {
    width: 98%;
    display: block;
  }
  .about p {
    color: #477258;
    line-height: 20px;
    padding: 0 0 40px;
  }
  .time h2 {
    font-size: 30px;
    padding: 20px 0 60px;
    color: #F7F6F0;
    letter-spacing:3px;
    width: 100%;
  }
  .tab-item {
    width: 100%; 
  }
  .tab {
    display: none;
  }
  .tabpic {
    display: block;
    width: 100%;
    text-align: center;
  }
  .tabpic img {
    width: 90%;
  }
  .info h2 {
    font-size: 30px;
    padding: 20px 0 60px;
    color: #F7F6F0;
    letter-spacing:3px;
    width: 100%;
  }
  .info .text {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
  }
  .info .icon img {
    border-radius: 20%;
    width: 30px;
  }
}

/**********圖片輪播**********/
ul.slides {
  position: relative;
  width: 640px;
  height: 380px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

li.slide {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 120px;
  color: #fff;
  transition: .5s transform ease-in-out;
}

.slide:nth-of-type(1) {
  background-image: url(images/pic1.jpg);
}

.slide:nth-of-type(2) {
  background-image: url(images/pic2.jpg);
  left: 100%;
}

.slide:nth-of-type(3) {
  background-image: url(images/pic3.jpg);
  left: 200%;
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

.controls-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

.controls-visible label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 3px;
  border: 2px solid #fff;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
  transform: translatex(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
  transform: translatex(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
  transform: translatex(-200%);
}


/* Left/Right Button Classes Below */

.navigator {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  display: none;
}

.navigator i {
  font-size: 32px;
  color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
  display: flex;
}